@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	// font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
	// font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
	// 	sans-serif;
	font-variant-numeric: tabular-nums;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	background-color: rgb(240, 242, 245);
}

label {
	font-weight: 700;
}

html {
	height: 100%;
	box-sizing: border-box;
}

#app {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
	outline: none;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

// .clearfix:after {
//     content: ""; /*设置内容为空*/
//     height: 0; /*高度为0*/
//     line-height: 0; /*行高为0*/
//     display: block; /*将文本转为块级元素*/
//     visibility: hidden; /*将元素隐藏*/
//     clear: both; /*清除浮动*/
// }

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 9px;
	height: 9px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #c9c9cf;
	border-radius: 8px;
}

// main-container global css
.app-container {
	padding: 20px;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.table-header {
	background-color: rgb(250, 250, 250) !important;
	color: #000000;
}

.operate-bar-btn {
    margin-left: 10px;
}
